body {
    background-image: url(./../IMG/back-index2.gif);
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    color: paleturquoise;
}

h1 {
    font-size: 3vw;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5vw;
}

#global {
    border-radius: 200px;
    border: solid rgb(34, 34, 34);
    box-shadow: 0 0 20px 2px black;
    width: 12%;
}

#userinfo {
    left: 20px;
    top: 20px;
    height: 30%;
    width: 15%;
    position: absolute;
}

#userprofile {
    margin-top: 2%;
    width: 50%;
    border: solid paleturquoise;
    border-radius: 100px;
}

#username {
    font-size: 1.2vw;
    color: cyan;
    margin-top: 0;
}