@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hentaigana:wght@500&display=swap');

body {
    background-image: url(./../IMG/back-index2.gif);
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 500px;
    animation: move_back 30s linear infinite running;
    font-family: "Noto Serif Hentaigana";
}

header {
    text-align: center;
    color: paleturquoise;
}

main {
    text-align: center;
    color: paleturquoise;
}

h1 {
    font-size: 5vw;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2.3vw;
}

.titleh3 {
    background-color: rgba(0, 0, 0, 0.507);
    border: solid 5px rgba(0, 255, 255, 0.493);
    border-bottom: 0;
    border-radius: 50px;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 0
}

.plang {
    font-size: 1.4vw;
    border: solid 2px turquoise;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 20px;
    padding: 2px;
    width: 95%;
    margin-top: 15px;
    margin: auto;
}

#global {
    border-radius: 200px;
    border: solid rgb(34, 34, 34);
    box-shadow: 0 0 20px 2px black;
    width: 10%;
    position: absolute;
    right: 20px;
    top: 20px;
}

#userinfo {
    left: 20px;
    top: 20px;
    height: 30%;
    width: 17%;
    position: absolute;
}

#userprofile {
    margin-top: 2%;
    width: 50%;
    border: solid paleturquoise;
    border-radius: 100px;
}

#username {
    font-size: 1.2vw;
    color: cyan;
    margin-top: 0;
}

#learned {
    display: flex;
}

.lang-block-learned {
    background-color: rgba(61, 61, 61, 0.308);
    display: flex;
    justify-content: center;
    height: auto;
    border: solid 4px rgba(0, 255, 255, 0.493);
    border-radius: 50px;
    flex-wrap: wrap;
    flex-basis: 50%;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.tool-block-learned {
    background-color: rgba(61, 61, 61, 0.308);
    display: flex;
    justify-content: center;
    height: auto;
    border: solid 4px rgba(0, 255, 255, 0.493);
    border-radius: 50px;
    flex-wrap: wrap;
    flex-basis: 50%;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.lang-block-learning {
    background-color: rgba(61, 61, 61, 0.308);
    display: flex;
    justify-content: center;
    height: auto;
    border: solid 4px rgba(0, 255, 255, 0.493);
    border-radius: 50px;
    flex-wrap: wrap;
    flex-basis: 50%;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}



.icon-container {
    display: flex;
    justify-content: center;
}

.lang, .tool {
    display: flex;
    width: 30%;
    font-size: 30px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.licon {
    padding: 5px;
    height: 6.5vw;
    text-align: center;
}

.ticon {
    padding: 5px;
    height: 4vw;
    text-align: center;
}

.licon:hover, .ticon:hover {
    animation: icon-up 0.2s linear alternate infinite;
}

@keyframes move_back {
    0% {
        background-position: -50% 0;
    }

    100% {
        background-position: 0 100%;
    }
}

@keyframes icon-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}